body {
	font-family: Arial;
}
#name_title {
	font-family: Arial;
	width: 60%;
	text-align: left;
	margin-left: 5%;
	margin-top: 3%;
	font-size: 40pt;
}

#container {
	font-family: Arial;
	width: 100%;
}

#about { 
position: relative;
margin-top: 10%;
margin-left: 5%;
font-weight: bold;
font-family: Arial;
}


#info_text {
	position: relative;
	width: 40%;
	margin-top: 0%;
	margin-left: 15%;
	text-align: left;
	font-family: Arial;
}

#profile_picture{
	position: absolute;
	margin-left: 40%;
	margin-top: -1%;
}

#profile_picture img {
	width: 17%;
}

#info_text a {
	text-decoration: none;
	color: gray;
	font-family: Arial;
}

#cv {
	margin-top: 10%;
	font-weight:bold;
	font-family: Arial;

}

#cv a{
	text-decoration: underline;
	color: #6495ED;
	margin-left: 10%;
	font-family: Arial;

}


#recent_news{
	font-weight: bold;
	position: relative;
	margin-left: 5%;
	margin-top:5%;
	font-family: Arial;

}

#recent_news_text a {
text-decoration: underline;
color: #6495ED;
font-weight:bold;
font-family: Arial;
}

#recent_news_text{
	width: 40%;
	position: relative;
	margin-left: 15%;
	margin-top: 0%;
	font-family: Arial;
}


#pub_text a {
text-decoration: underline;
color: #6495ED;
font-weight:bold;
font-family: Arial;
}

#pub_title { 
	font-weight: bold;
	position: relative;
	margin-top: 5%;
	margin-left: 5%;
	font-family: Arial;
 }

 #pub_text{
 	width: 40%;
 	position: relative;
	margin-top: 0%;
	margin-left: 15%;
	font-family: Arial;
 }




