body {
	font-family: Kurier;
	font-size: 13pt;
}
#name_title {
	font-family: Kurier;
	width: 60%;
	text-align: left;
	margin-left: 5%;
	margin-top: 3%;
	font-size: 40pt;
}

#container {
	font-family: Kurier;
	width: 100%;
}

#about { 
	position: relative;
margin-top: 7%;
margin-left: 5%;
font-weight: bold;
font-family: Kurier;
font-size: 13pt;
}


#info_text {
	position: relative;
	width: 30%;
	margin-top: 0%;
	margin-left: 15%;
	text-align: left;
	font-size: 13pt;
	font-weight: lighter;
	font-family: Kurier;
}

#profile_picture{
	position: absolute;
	width: 50%;
	margin-left: 50%;
	margin-top: 0%;
}

#profile_picture img {
	width: 25%;
}

#info_text a {
	text-decoration: none;
	color: gray;
	font-family: Kurier;
	font-size: 13pt;
}

#cv {
	margin-top: 10%;
	font-weight:bold;
	font-family: Kurier;
	font-size: 13pt;

}

#cv a{
	text-decoration: underline;
	color: #6495ED;
	margin-left: 10%;
	font-family: Kurier;
	font-size: 13pt;

}

#pub_text a {
text-decoration: underline;
color: #6495ED;
font-weight:bold;
font-family: Kurier;
font-size: 13pt;
}

#pub_title { 
	font-weight: bold;
	position: relative;
	margin-top: 5%;
	margin-left: 5%;
	font-family: Kurier;
	font-size: 13pt;
 }

 #pub_text{
 	position: relative;
	margin-top: 0%;
	margin-left: 15%;
	font-size: 13pt;
	font-family: Kurier;
 }


#recent_news{
	font-weight: bold;
	position: relative;
	margin-left: 5%;
	margin-top:5%;
	font-family: Kurier;
	font-size: 13pt;

}

#recent_news_text a {
text-decoration: underline;
color: #6495ED;
font-weight:bold;
font-size: 13pt;
font-family: Kurier;
}

#recent_news_text{
	position: relative;
	margin-left: 15%;
	margin-top: 0%;
	font-family: Kurier;
	font-size: 13pt;
}


